# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

Fijaos que es un tsv. Eso significa "Tab separated value". IMPORTANTE: El separador es "\t"

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")

In [107]:
chipo

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

### Step Extra:

Si os fijais, la columna item_price es un string. Hay que quitar el signo del dolar y convertir a float para poder trabajar. 

Hay maneras cool de hacer esto, pero os recomiendo lo siguiente:
- haced un bucle for del df (iterrows)
- guardaros en una lista (append) el valor sin el dolar y convetido a float
- actualizad el valor de esa columna con la nueva lista

In [9]:
# Quito el $ del precio y lo convierto en float
chipo.loc[:, "item_price"] = chipo.loc[:, "item_price"].str[1:].astype(float)

### Step 3. Name of the max valued product

In [75]:
# Calculo precio unitario dividiendo la columna de item_price por la quantity
precio_unitario = chipo.loc[:, "item_price"]/chipo.loc[:, "quantity"]
chipo["precio_unitario"]=precio_unitario

In [86]:
# Calculo el nombre del producto mas caro
precio_max=chipo.loc[:, "precio_unitario"].max()  # calculo el precio
mask_precio_max=chipo.loc[:, "precio_unitario"]==precio_max # creo un filtro para que solo me devuelva las filas que tengan ese precio max
prods_pecio_max=chipo.loc[mask_precio_max]   # aplico la mascara para que me localice en chipo todas las filas que sean True
row_pecio_max=prods_pecio_max.iloc[[0]]  #elijo el primero de ellos 
row_pecio_max  # Muestro el df

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78,11.89

In [88]:
# Saco del df el nombre del producto
nombre_prod_mas_caro = row_pecio_max["item_name"].iloc[0]

### Step 4. How many products cost more than $10.00?

In [62]:
prod_mas_10 = chipo.loc[:, "precio_unitario"]> 10
mask_prod_mas_10 = chipo.loc[prod_mas_10]
numero_productos_unicos = mask_prod_mas_10["item_name"].nunique()
numero_productos_unicos

25

Extra: CuÃ¡ntos pedidos se han hecho con un producto de mÃ¡s de 10$

In [63]:
mask_prod_mas_10.loc[:, "quantity"].sum()

np.int64(1074)

### Step 5. a - How much money we earned selling our most expensive product?

Busca el producto mas caro (si hay mas de uno da igual, coge el uno de ellos). Guardate su nombre y precio.
Filtra las filas por ese producto con el nombre.
Multiplica las cantidades del resultado filtrado por el precio que guardaste.

In [89]:
nombre_prod_mas_caro

'Steak Salad Bowl'

In [99]:
filtro_ventas_prod_caro = chipo.loc[:, "item_name"]==nombre_prod_mas_caro
mask_prod_mas_caro=chipo[filtro_ventas_prod_caro]
cant_ventas_prod_caro = mask_prod_mas_caro.loc[:, "quantity"].sum()
total_ventas_prod_caro = cant_ventas_prod_caro*precio_max
total_ventas_prod_caro

np.float64(368.59000000000003)

### Step 5. b - How much money we earned selling our cheapest product?

Lo mismo que antes pero con el mas barato.

In [121]:
# Saco el precio minimo para saber el prod mas barato
precio_min=chipo.loc[:, "precio_unitario"].min()
precio_min

1.09

In [123]:
# Hago una mascara: primero hago el filtro:
filtro_precio_min = chipo.loc[:, "precio_unitario"] == precio_min #  dame todas las filas en donde precio unitario sea el precio minimo
mask_precio_min = chipo[filtro_precio_min] # aplico la mask y me da un df
prod_mas_barato = mask_precio_min.iloc[[0]]  # elijo el primero de ese df para poder trabajar con 1 prod
nombre_prod_mas_barato = prod_mas_barato["item_name"].iloc[0] # Saco el nombre de ese prod para seguir filtrando
nombre_prod_mas_barato

'Canned Soda'

In [133]:
# Mascara para saber cantidad de ventas y total recaudado con prod mas barato 
filtro_ventas_prod_barato = chipo.loc[:, "item_name"] == nombre_prod_mas_barato  # creo el filtro
mask_prod_mas_barato = chipo.loc[filtro_ventas_prod_barato] # aplico la mascara
cant_ventas_prod_barato = mask_prod_mas_barato.loc[:, "quantity"].sum() # sumo las cantidades
total_ventas_prod_barato = cant_ventas_prod_barato * precio_min
total_ventas_prod_barato

np.float64(137.34)

### Step 6. Sort by the name of the item

In [134]:
chipo.sort_values("item_name")

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [135]:
cant_ventas_prod_caro

np.int64(31)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [146]:
filtro_veg_salad = chipo.loc[:, "item_name"]== "Veggie Salad Bowl"
mask_veg = chipo[filtro_veg_salad]
cantidad_veg_bowl = mask_veg.loc[:, "quantity"].sum()
cantidad_veg_bowl

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [147]:
filtro_soda = (chipo.loc[:, "item_name"]=="Canned Soda") & (chipo.loc[:, 'quantity']>=2)
chipo.loc[filtro_soda,:].shape[0]

20

In [148]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000